<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="C:\Program Files\dotnet\dotnet.exe" arguments="exec &quot;C:\Users\hernan.zaldivar\source\repos\AspNetCoreGraphQL\AspNetCoreGraphQL.GraphQLApi\bin\Debug\netcoreapp2.2\AspNetCoreGraphQL.GraphQLApi.dll&quot;" stdoutLogEnabled="false" hostingModel="InProcess" />
    </system.webServer>
  </location>
</configuration>